html,
body {
  padding: 2rem;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
img {
  max-width: 100%;
  height: auto;
}

.back-btn {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0.3rem 1rem;
  background: rgba(255, 255, 255, 0.5);
  color: aquamarine;
  cursor: pointer;
}

.article-btn {
  padding: 0.3rem 1rem;
  color: crimson;
  display: block;
  border: solid 1px lightcoral;
}
.article-btn:hover {
  background: #ccc;
}

.page-btn {
  padding: 0.3rem 1rem;
  background-color: yellow;
  display: inline-block;
  border: solid 1px lightcoral;
  color: black;
  margin: 0 0.3rem;
}
.page-btn:hover {
  background: #ccc;
}
